---

layout: perso-layout
title: Home

---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div class="container">
      {% include banner.html %}

      {% include portfolio.html %}

      {% include services.html %}
    </div>

    {% include parallax.html %}

    <div class="container">
      {% include propos.html %}
    </div>

    {% include contact.html %}

    <div class="container">
      <div id="footer" class="d-flex justify-content-between">
         <p>footer</p>
         <div class="footer-icons">

         </div>
      </div>
    </div>
  </body>
</html>
