---

layout: perso-layout
title: portfolio

---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div class="container">

      {% include navbar.html %}

      {% include banner.html %}

      {% include portfolio.html %}

      {% include services.html %}

    </div>

    {% include parallax.html %}

    <div class="container">

      {% include propos.html %}

      {% include contact.html %}

    </div>
    <div class="container">
      <div id="footer" class="d-flex justify-content-between">
         <p>footer</p>
         <div class="footer-icons">

         </div>
      </div>
    </div>
    <script>
      // Navbar END

      const sections = document.querySelectorAll("section");
      const navLi = document.querySelectorAll("#navbar a");
      window.onscroll = () => {
        var current = "";

        sections.forEach((section) => {
          const sectionTop = section.offsetTop;
          if (pageYOffset >= sectionTop - 60) {
            current = section.getAttribute("id"); }
        });

        navLi.forEach((li) => {
          li.classList.remove("active");
          if (li.classList.contains(current)) {
            li.classList.add("active");
          }
        });
      };

      // Navbar END

      // Glow card START
      const $card = document.querySelector('.card');
      let bounds;

      function rotateToMouse(e) {
        const mouseX = e.clientX;
        const mouseY = e.clientY;
        const leftX = mouseX - bounds.x;
        const topY = mouseY - bounds.y;
        const center = {
          x: leftX - bounds.width / 2,
          y: topY - bounds.height / 2
        }
        const distance = Math.sqrt(center.x**2 + center.y**2);

        $card.style.transform = `
          scale3d(1.07, 1.07, 1.07)
          rotate3d(
            ${center.y / 100},
            ${-center.x / 100},
            0,
            ${Math.log(distance)* 2}deg
          )
        `;

        $card.querySelector('.glow').style.backgroundImage = `
          radial-gradient(
            circle at
            ${center.x * 2 + bounds.width/2}px
            ${center.y * 2 + bounds.height/2}px,
            #ffffff55,
            #0000000f
          )
        `;
      }

      $card.addEventListener('mouseenter', () => {
        bounds = $card.getBoundingClientRect();
        document.addEventListener('mousemove', rotateToMouse);
      });

      $card.addEventListener('mouseleave', () => {
        document.removeEventListener('mousemove', rotateToMouse);
        $card.style.transform = '';
        $card.style.background = '';
      });
      // Glow card END
    </script>
  </body>
</html>
