<div id="portfolio" class="section horizontal-line">
  <h4 class="section-title">portfolio</h4>
  <div class="portfolio-cards">
    <div class="portfolio-card">
      <div class="portfolio-mockup-card gom">
        <img class='img-phone' src="{% link assets/img/gom_smartphone_mockup.png %}" alt="">
        <img class='img-mac' src="{% link assets/img/gom_mac_mockup.png %}" alt="">
      </div>
      <div class="portfolio-mockup-title">
        <h4>GOM</h4>
        <p>Carte interactive de sessions de sport outdoors, code from scratch</p>
      </div>
    </div>
    <div class="portfolio-card">
      <div class="portfolio-mockup-card lineup">
        <img class='img-phone' src="{% link assets/img/lineup_smartphone_mockup.png %}" alt="">
        <img class='img-mac' src="{% link assets/img/lineup_mac_mockup.png %}" alt="">
      </div>
      <div class="portfolio-mockup-title">
        <h4>LINE UP TRADE</h4>
        <p>e-commerce, mise en place à partir de template wordpress</p>
      </div>
    </div>
    <div class="portfolio-card">
      <div class="portfolio-mockup-card bdtroc">
        <img class='img-phone' src="{% link assets/img/bdtroc_smartphone_mockup.png %}" alt="">
        <img class='img-mac' src="{% link assets/img/bdtroc_mac_mockup.png %}" alt="">
      </div>
      <div class="portfolio-mockup-title">
        <h4>BDtroc</h4>
        <p>marketplace de bandes déssinées, code from scratch</p>
      </div>
    </div>
    <div class="portfolio-card">
      <div class="portfolio-mockup-card bdtroc">
        <h1>+</h1>
      </div>
      <div class="portfolio-mockup-title">
        <h4>Votre projet</h4>
        <p>site custom, marketplace, cms ...</p>
      </div>
    </div>
  </div>
</div>
