<section id="portfolio" class="section horizontal-line">
  <h4 class="section-title">portfolio</h4>
  <div class="portfolio-cards">
    <div class="portfolio-card">
      <div class="portfolio-mockup-card gom">
        <img class='img-phone' src="{% link assets/img/gom_smartphone_mockup.png %}" alt="">
        <img class='img-mac' src="{% link assets/img/gom_mac_mockup.png %}" alt="">
        <div class="glow"></div>
      </div>
      <div class="portfolio-mockup-title">
        <h4>gom</h4>
        <p>carte interactive de sessions de sport outdoors, code from scratch</p>
      </div>
    </div>
    <div class="portfolio-card">
      <div class="portfolio-mockup-card lineup">
        <img class='img-phone' src="{% link assets/img/lineup_smartphone_mockup.png %}" alt="">
        <img class='img-mac' src="{% link assets/img/lineup_mac_mockup.png %}" alt="">
      </div>
      <div class="portfolio-mockup-title">
        <h4>line up trade</h4>
        <p>e-commerce, mise en place à partir de template wordpress</p>
      </div>
    </div>
    <div class="portfolio-card">
      <div class="portfolio-mockup-card bdtroc">
        <img class='img-phone' src="{% link assets/img/bdtroc_smartphone_mockup.png %}" alt="">
        <img class='img-mac' src="{% link assets/img/bdtroc_mac_mockup.png %}" alt="">
      </div>
      <div class="portfolio-mockup-title">
        <h4>bdtroc</h4>
        <p>marketplace de bandes déssinées, code from scratch</p>
      </div>
    </div>
    <div class="portfolio-card">
      <div class="card portfolio-mockup-card new-project d-flex justify-content-around align-items-center">
        <i class="fa-regular fa-square-plus"></i>
        <div class="glow"></div>
      </div>
      <div class="portfolio-mockup-title">
        <h4>votre projet</h4>
        <p>site custom, marketplace, cms ...</p>
      </div>
    </div>
  </div>
</section>
