<section id="propos" class="section">
  <h4 class="section-title">a propos</h4>

  <div class="d-flex justify-content-between">
    <div class="col-6 img-propos">
      <img class="" src="{% link assets/img/wagon.jpg %}" alt="Timothée Régis au Wagon">
    </div>
    <div class="col-5 overflow">
      <div class="card-text">
        <h4 class="mb-3">formation</h4>
        <p>En tant que développeur web, ma priorité est d'assurer que votre site fonctionne de manière optimale, quelle que soit la plateforme. Mon expertise inclut la création de sites web entièrement responsifs, offrant une expérience utilisateur fluide tant sur les appareils mobiles que sur les ordinateurs de bureau. Chaque élément est soigneusement ajusté pour garantir une navigation intuitive, peu importe la taille de l'écran.
          De plus, je suis conscient de l'importance cruciale du référencement (SEO) pour la visibilité en ligne. Mon approche intègre des pratiques SEO avancées dès la phase de développement, assurant que votre site soit bien positionné dans les résultats de recherche. Des balises méta soigneusement rédigées, une structure de contenu bien pensée et une optimisation des performances contribuent à renforcer la présence de votre site sur les moteurs de recherche.
        </p>
      </div>
      <div class="d-flex justify-content-around">
        <div class="vertical-line"></div>
      </div>
      <div class="card-text">
        <h4 class="mb-3">parcours</h4>
        <p>En tant que développeur web, ma priorité est d'assurer que votre site fonctionne de manière optimale, quelle que soit la plateforme. Mon expertise inclut la création de sites web entièrement responsifs, offrant une expérience utilisateur fluide tant sur les appareils mobiles que sur les ordinateurs de bureau. Chaque élément est soigneusement ajusté pour garantir une navigation intuitive, peu importe la taille de l'écran.
          De plus, je suis conscient de l'importance cruciale du référencement (SEO) pour la visibilité en ligne. Mon approche intègre des pratiques SEO avancées dès la phase de développement, assurant que votre site soit bien positionné dans les résultats de recherche. Des balises méta soigneusement rédigées, une structure de contenu bien pensée et une optimisation des performances contribuent à renforcer la présence de votre site sur les moteurs de recherche.
        </p>
      </div>
      <div class="d-flex justify-content-around">
        <div class="vertical-line"></div>
      </div>
      <div class="card-text">
        <h4 class="mb-3">passions</h4>
        <p>En tant que développeur web, ma priorité est d'assurer que votre site fonctionne de manière optimale, quelle que soit la plateforme. Mon expertise inclut la création de sites web entièrement responsifs, offrant une expérience utilisateur fluide tant sur les appareils mobiles que sur les ordinateurs de bureau. Chaque élément est soigneusement ajusté pour garantir une navigation intuitive, peu importe la taille de l'écran.
          De plus, je suis conscient de l'importance cruciale du référencement (SEO) pour la visibilité en ligne. Mon approche intègre des pratiques SEO avancées dès la phase de développement, assurant que votre site soit bien positionné dans les résultats de recherche. Des balises méta soigneusement rédigées, une structure de contenu bien pensée et une optimisation des performances contribuent à renforcer la présence de votre site sur les moteurs de recherche.
        </p>
      </div>
    </div>
  </div>
</section>
