<div id="services-1" class="section horizontal-line">
  <h4 class="section-title">services</h4>
  <div id="web" class="services-section">
    <div class="icon col-5">
      <div class="sub-icon">
        <img src="{% link assets/img/background_circles.png %}" alt="">
        <i class="fa-solid fa-file-code"></i>
      </div>
    </div>
    <div class="services-line col-2">
      <div class="line"></div>
    </div>
    <div class="card-text col-5">
      <h4>web</h4>
      <p>En tant que développeur, je mets l'accent sur la personnalisation totale de votre site. Chaque ligne de code est façonnée pour répondre précisément à vos besoins, assurant ainsi une expérience unique et fonctionnelle.</p>
    </div>
  </div>
  <div id="design" class="services-section">
    <div class="card-text col-5">
      <h4>design</h4>
      <p>Mon approche du développement web intègre non seulement un design attrayant mais aussi une expérience utilisateur fluide. Chaque détail est pensé pour respecter les normes UX/UI, garantissant ainsi un site à la fois esthétique et intuitif.</p>
    </div>
    <div class="services-line col-2">
      <div class="line"></div>
    </div>
    <div class="icon col-5">
      <div class="sub-icon">
        <img src="{% link assets/img/background_circles.png %}" alt="">
        <i class="fa-solid fa-display"></i>
      </div>
    </div>
  </div>
  <div id="suivi" class="services-section">
    <div class="icon col-5">
      <div class="sub-icon">
        <img src="{% link assets/img/background_circles.png %}" alt="">
        <i class="fa-solid fa-handshake"></i>
      </div>
    </div>
    <div class="services-line col-2">
      <div class="line"></div>
    </div>
    <div class="card-text col-5">
      <h4>suivi</h4>
      <p>Grâce à une interface admin, vous aurez une autonomie sur votre site que vous pourrez facilement gérer et mettre à jour. Mon support continu assure que votre présence en ligne évolue en parallèle avec vos besoins.</p>
    </div>
  </div>
</div>
