.img-propos {
  height: 70vh;
  position: sticky;
  top: 16vh;
}

#propos {
  position: relative;
  img {
    border-radius: $border-radius;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.vertical-line {
  border-right: 2px solid $grey;
  height: 10vh;
}
