.services-section {
  display: flex;
  align-items: center;
  margin-bottom: 6rem;
}

@media screen and (min-width: 568px) {
  .services-section {
    margin-bottom: 10rem;
  }

  .sub-icon {
    img {
      display: block!important;
    }
    i {
      left: 50%!important;
      font-size: 88px;
      background-color: $darkgrey!important;
    }
  }
}

.icon-right {
  left: 20%!important;
}

.sub-icon {
  position: relative;
  img {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  i {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    background-color: $black;
  }
}

.card-text {
  border-radius: $border-radius;
  background-color: $darkgrey;
  border: 2px solid $grey;
  padding: 20px;
  z-index: 5;
}

.icon {
  z-index: 5;
}


#web {
  margin-top: 4rem;
}

@media screen and (min-width: 568px) {
  #web {
    margin-top: 10rem;
  }
}

.line {
  border-bottom: 2px solid $grey;
  position: absolute;
  left: 30%;
  z-index: 1;
}

.line-left {
  left: 20%;
}

.line-right {
  left: 38%;
}

@media screen and (min-width: 568px) {
  .line {
    left: 30%!important;
  }
}

.background-photo {
  width: 100vw;
  height: 40vh;
}

.text-mobile {
  display: block;
}

.text-desktop {
  display: none;
}


.parallax-section {
  position: relative;
  height: 20vh;
  overflow: hidden;
}

.parallax-section::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.45);
}

@media screen and (min-width: 568px) {
  .parallax-section {
    height: 50vh;
  }
  .text-mobile {
    display: none;
  }

  .text-desktop {
    display: block;
  }
}

.parallax-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff;

  // p {
  //   font-weight: 400;
  // }
}
